<div>
  <h2 id="page-heading" data-cy="GradHeading">
    <span jhiTranslate="consultatiiApp.grad.home.title">Grads</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="consultatiiApp.grad.home.refreshListLabel">Refresh List</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grad"
        [routerLink]="['/grad/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="consultatiiApp.grad.home.createLabel"> Create a new Grad </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="grads?.length === 0">
    <span jhiTranslate="consultatiiApp.grad.home.notFound">No grads found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="grads && grads.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="denumire">
            <span jhiTranslate="consultatiiApp.grad.denumire">Denumire</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grad of grads; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/grad', grad.id, 'view']">{{ grad.id }}</a>
          </td>
          <td>{{ grad.denumire }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/grad', grad.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/grad', grad.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(grad)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="grads && grads.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
