<div>
  <h2 id="page-heading" data-cy="ConcluziiConsultatieHeading">
    <span jhiTranslate="consultatiiApp.concluziiConsultatie.home.title">Concluzii Consultaties</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="consultatiiApp.concluziiConsultatie.home.refreshListLabel">Refresh List</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-concluzii-consultatie"
        [routerLink]="['/concluzii-consultatie/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="consultatiiApp.concluziiConsultatie.home.createLabel"> Create a new Concluzii Consultatie </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="concluziiConsultaties?.length === 0">
    <span jhiTranslate="consultatiiApp.concluziiConsultatie.home.notFound">No concluziiConsultaties found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="concluziiConsultaties && concluziiConsultaties.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="diagnostic">
            <span jhiTranslate="consultatiiApp.concluziiConsultatie.diagnostic">Diagnostic</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tratament">
            <span jhiTranslate="consultatiiApp.concluziiConsultatie.tratament">Tratament</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="observatii">
            <span jhiTranslate="consultatiiApp.concluziiConsultatie.observatii">Observatii</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="controlUrmator">
            <span jhiTranslate="consultatiiApp.concluziiConsultatie.controlUrmator">Control Urmator</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="programare.id">
            <span jhiTranslate="consultatiiApp.concluziiConsultatie.programare">Programare</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let concluziiConsultatie of concluziiConsultaties; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/concluzii-consultatie', concluziiConsultatie.id, 'view']">{{ concluziiConsultatie.id }}</a>
          </td>
          <td>{{ concluziiConsultatie.diagnostic }}</td>
          <td>{{ concluziiConsultatie.tratament }}</td>
          <td>{{ concluziiConsultatie.observatii }}</td>
          <td>{{ concluziiConsultatie.controlUrmator }}</td>
          <td>
            <div *ngIf="concluziiConsultatie.programare">
              <a [routerLink]="['/consultatie', concluziiConsultatie.programare?.id, 'view']">{{ concluziiConsultatie.programare?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/concluzii-consultatie', concluziiConsultatie.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/concluzii-consultatie', concluziiConsultatie.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(concluziiConsultatie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="concluziiConsultaties && concluziiConsultaties.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
